html, body{
  height: 100%;
  width: 100%;
}

header{
  width: 100%;

}
main{
  width: 100%;
}
footer{
  width: 100%;
}

.navbar_header{
  width: 100%;
  height: 100%;
}

.blur {
  filter: blur(10px) brightness(50%);
}
.couture{
  font-family: 'Couture', sans-serif;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}


.card.mb-5 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.modal-body img {
  max-height: 400px;
  object-fit: cover;
}

.card-title, .modal-title, .modal-body {
  color: #222;
 }
 .card-text{
   color: white;
 }
 @media (max-width: 576px) {
  .navbar-text {
    font-size: 12px;
  }
}
