body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-PaVHBC4t_ZXhdJgvSSPdBpEuXgyshJgfJA&s);
  background-position: center;
}
.botones{
  display: flex; flex-direction: row; justify-content: space-around;
}
.boton a button{
  background-color: #ef2e2e;
  width: 300px;
  height: 70px;
  border-color: #ef2e2e;
}
.boton a button p{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
